# uppercase a word
snippet "^((?:[^ ]* +)*)(\w+)" "keywords" rb
`!p snip.rv = match.group(1) + match.group(2).upper()`
endsnippet

snippet .group
GROUP BY
endsnippet

snippet .order
ORDER BY
endsnippet

snippet .join
${1:LEFT} JOIN ${2:table_name}
endsnippet
